<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="inc/asset.html::asset" />

<body class="uk-background-muted">
<section>
    <div class="uk-margin-auto uk-text-center uk-position-center uk-width-2xlarge uk-card uk-card-default uk-card-body">
        <div class="uk-section">
            <h1 class="uk-heading-line todayoutfit"><span>로그인</span></h1>
            <div class="uk-card uk-card-primary uk-card-large uk-card-body uk-width-2xlarge">
                <form th:action="login" id="loginform" method="post" th:autocomplete="false">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input" type="text" id="id" name="id" placeholder="아이디를 입력해주세요." maxlength="10">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="password" id="pw" name="pw" placeholder="비밀번호를 입력해주세요." maxlength="30">
                        </div>
                    </div>
                    <input type="button" class="uk-button uk-button-default" id="loginBtn" value="로그인">
                </form>
            </div>
        </div>
</section>

<script>

    $(() => adminLoginView.init());

    var adminLoginView = {

    };

    adminLoginView.init = function () {
        this.loginBtnClick();
    };

    adminLoginView.loginBtnClick = function() {

        var that = this;

        $("#loginBtn").click(function() {

            var requestParam = {
                id: $("#id").val(),
                pw: $("#pw").val()
            };

            $.ajax({
                url 		: "/admin/loginAjax",
                type 		: "POST",
                data 		: requestParam,
                dataType 	: "JSON",
            })
                .done(function(result) {
                    if (result.responseCode == "SUCCESS") {
                        window.location = "/admin/board/list";
                    } else if (result.responseCode == "DB_NOT_FOUND_DATA") {
                        alert("존재하지 않는 사용자입니다.");
                    } else if (result.responseCode == "WRONG_PASSWORD") {
                        alert("잘못된 비밀번호입니다.");
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                })
                .fail(function() {
                    alert("알 수 없는 오류가 발생했습니다.");
                })
        });
    };

</script>

</body>
</html>