<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="inc/asset.html::asset" />
<link rel="stylesheet" th:href="@{/css/admin/login.css}">

<body>

<div class="container">

    <header>

        <h1>오늘 뭐 입지?</h1>

    </header>

    <section>

        <form th:action="login" id="loginform" method="post">
            <label>아이디<input type="text" id="id" name="id" class="form form-control"></label>
            <label>비밀번호<input type="password" id="pw" name="pw" class="form form-control"></label>
            <input type="button" class="form form-control btn-general" id="loginBtn" value="로그인">
        </form>

    </section>

    <footer>

        <copyright>Copyright 2021.조아라. All rights reserved.</copyright>

    </footer>

</div>

    <script>

        $(() => adminLoginView.init());

        var adminLoginView = {

        };

        adminLoginView.init = function () {
            this.loginBtnClick();
        };

        adminLoginView.loginBtnClick = function() {

            var that = this;

            $("#loginBtn").click(function() {

                var requestParam = {
                    id: $("#id").val(),
                    pw: $("#pw").val()
                };

                $.ajax({
                    url 		: "/admin/loginAjax",
                    type 		: "POST",
                    data 		: requestParam,
                    dataType 	: "JSON",
                })
                .done(function(result) {
                    console.log(result);
                    if (result.responseCode == "SUCCESS") {
                        window.location = "/admin/board/list";
                    } else if (result.responseCode == "DB_NOT_FOUND_DATA") {
                        alert("존재하지 않는 사용자입니다.");
                    } else if (result.responseCode == "WRONG_PASSWORD") {
                        alert("잘못된 비밀번호입니다.");
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                })
                .fail(function() {
                    alert("알 수 없는 오류가 발생했습니다.");
                })
            });
        };

    </script>

</body>
</html>