<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="asset">
<!-- jQuery CDN -->
<script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>

<!-- UIkit CSS -->
<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/uikit@3.15.3/dist/css/uikit.min.css}">

<!-- UIkit JS -->
<script th:src="@{https://cdn.jsdelivr.net/npm/uikit@3.15.3/dist/js/uikit.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/uikit@3.15.3/dist/js/uikit-icons.min.js}"></script>

<!-- Global CSS(전체적용 CSS) -->
<link rel="stylesheet" th:href="@{/css/global.css}">
</div>