<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="inc/asset.html::asset" />

<body class="uk-background-muted">
    <section>
        <div class="uk-margin-auto uk-text-center uk-position-center uk-card uk-card-default uk-card-body">
            <div class="uk-section">
                <h1 class="uk-heading-line todayoutfit"><span>오늘 뭐 입지?</span></h1>
                <div class="uk-card uk-card-primary uk-card-large uk-card-body uk-width-2xlarge">
                    <h3>19도</h3>
                    <p id="recommend">위치를 찾으면 옷차림을 추천합니다.</p>
                    <div uk-icon="location"><span id="currentLocation">위치 찾는 중</span></div>
                    <div>
                        <button class="uk-button uk-button-default uk-button-small" id="searchByMyLocation">내 위치로 옷차림 검색</button>
                    </div>
                    <hr class="uk-divider-small">
                    <p>최고기온 <span id="maxTemp">-</span>도 / 최저기온 <span id="minTemp">-</span>도</p>
                </div>
                <div class="uk-margin">
                    <form class="uk-search uk-search-default" name="searchForm" id="searchForm" action="/board/list">
                        <a onclick="document.getElementById('searchForm').submit();" class="uk-search-icon-flip" uk-search-icon></a>
                        <input class="uk-search-input" type="search" id="location" name="location" placeholder="원하는 지역명으로 검색">
                    </form>
                </div>
            </div>

            <div>
                <span class="glyphicon glyphicon-envelope"></span>
                <a class="uk-icon-button uk-button-secondary" uk-icon="mail" href="mailto:joara9566@naver.com"></a>
            </div>
        </div>
    </section>
</body>

    <script th:inline="javascript">

        let apiKey = [[${apiKey}]];

        if (navigator.geolocation) { // GPS를 지원하면
            navigator.geolocation.getCurrentPosition(function(position) {

            // 좌표
            const point_x=position.coords.longitude;
            const point_y=position.coords.latitude;

            // 좌표정보 -> 위치정보 ajax
            $.ajax({
                url:"https://dapi.kakao.com/v2/local/geo/coord2address.json?x="+point_x+"&y="+point_y+"&input_coord=WGS84",
                type:'GET',
                headers: {'Authorization' : apiKey},
                success: function(data) {
                    $("#currentLocation").html(data.documents[0].address["region_2depth_name"]);
                    $('#searchByMyLocation').click(function(){
                        location.href="/board/list?location="+data.documents[0].address["region_1depth_name"] + data.documents[0].address["region_2depth_name"];
                    });
                }
            });

            getWeather(point_x, point_y);


            }, function(error) {
                UIkit.modal.dialog('<p class="uk-modal-body">위치 정보를 확인할 수 없어 서비스를 제대로 이용할 수 없습니다. 내 위치 확인을 허용해주세요.</p>');
            }, {
                enableHighAccuracy: false,
                maximumAge: 0,
                timeout: Infinity
            });
        } else {
            UIkit.modal.dialog('<p class="uk-modal-body">GPS를 지원하지 않아 서비스를 제대로 이용할 수 없습니다. GPS 가능한 브라우저로 접속해주세요.</p>');
        }

        function getWeather(point_x, point_y) {

            fetch("https://api.openweathermap.org/data/2.5/weather?lat="+point_y+"&lon="+point_x+"&appid=e7b4c588445f7aa66ba2455335a97e25&units=metric")
            .then(res => res.json())
            .then(data => {
                const temp = data.main.temp;
                const maxTemp = data.main.temp_max;
                const minTemp = data.main.temp_min;
                $("#nowTemp").html(temp+"도");
                $("#maxTemp").html(maxTemp);
                $("#minTemp").html(minTemp);

                // 기온에 따라 옷차림 추천해주는 ajax
                $.ajax({
                    url:"/recommend",
                    data: {temp: temp},
                    dataType: "json",
                    success: function(data) {
                        console.log(data);
                        $("#recommend").html(data.temp);
                    }

                });
            })

        }

    </script>

</html>