<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="inc/asset.html::asset" />
<link rel="stylesheet" th:href="@{/css/member/main.css}">
<link rel="stylesheet" th:href="@{/css/member/board.css}">

<body>

    <div class="container">

        <header>

            <h1>오늘 뭐 입지?</h1>

            <div id="now">
                <span class="glyphicon glyphicon-map-marker"></span>
                <span id="currentLocation">위치찾는 중</span>
            </div>

        </header>

        <section>

            <input type="hidden" id="page" name="page" th:value="${page}">
            <input type="hidden" id="size" name="size" th:value="${size}">

            <div id="search" class="mainbox">

                <h4 id="location" th:text="|${location}의 옷차림|" />

                <form method="get">
                    <div>
                        <div class="input-group">
                        <input type="text" class="form-control" id="lcation" name="location" placeholder="위치를 입력해주세요.">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-default" id="searchBtn" value="검색">
                        </span>
                        </div>
                    </div>
                </form>

            </div>

            <div id="btns">

                <button class="btn btn-general" data-toggle="modal"  data-target="#writeModal">글쓰기</button>
                <button class="btn btn-general" onclick="location.href='/'">메인으로</button>

            </div>
            <div id="postArea">
                <div id="outfit" class="mainbox">
                    <div>게시물이 없습니다</div>
                    <!-- dynamic data -->
                </div>
            </div>


        </section>

        <footer>

            <div>
                <span class="glyphicon glyphicon-envelope"></span>
                <a th:href="@{mailto:joara9566@naver.com}">관리자에게 메일쓰기</a>
            </div>

            <copyright>Copyright 2021.조아라. All rights reserved.</copyright>

        </footer>

    </div>

    <!-- 옷차림 글 작성하는 모달 -->
    <div class="modal fade" id="writeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">오늘 당신의 옷차림을 알려주세요</h5>
          </div>
          <form>
          <div class="modal-body">
            <textarea id="content" name="content" class="form-control"></textarea>
            <input type="hidden" name="nowLocation" id="nowLocation" value=""/>
          </div>
          <div class="modal-footer">
            <button type="button" id="saveBtn" class="btn btn-general">저장</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <script>

        $(() => memberListView.init());

        var memberListView = {};

        memberListView.init = function() {
            this.findLocation();
            this.listInit();
            this.recommend();
            this.declare();
            this.addPost();
        };

        memberListView.findLocation = function() {
            if (navigator.geolocation) { // GPS를 지원하면
                navigator.geolocation.getCurrentPosition(function (position) {

                    // 좌표
                    const point_x = position.coords.longitude;
                    const point_y = position.coords.latitude;

                    // 좌표정보 -> 위치정보 ajax
                    $.ajax({
                        url: "https://dapi.kakao.com/v2/local/geo/coord2address.json?x=" + point_x + "&y=" + point_y + "&input_coord=WGS84",
                        type: 'GET',
                        headers: {'Authorization': 'KakaoAK efc1f6089ac80c3fdbe8f867eadb5c47'},
                        success: function (data) {

                            $("#currentLocation").html(data.documents[0].address["region_2depth_name"]);
                            $("#nowLocation").val(data.documents[0].address["region_1depth_name"] + data.documents[0].address["region_2depth_name"]);


                        }

                    });

                }, function (error) {
                    console.error(error);
                }, {
                    enableHighAccuracy: false,
                    maximumAge: 0,
                    timeout: Infinity
                });
            } else {
                alert('GPS를 지원하지 않습니다');
            }
        };

        memberListView.listInit = function() {
            var requestParam = {
                page: $("#page").val(),
                size: $("#size").val(),
                location: $("#location").text().replace("의 옷차림", ""),
            };

            console.log(requestParam);

            $.ajax({
                url 		: "/board/listAjax",
                type 		: "POST",
                data 		: requestParam,
                dataType 	: "JSON",
            })
                .done(function(result) {

                    var row = '';

                    if (result.list.content.length == 0) {
                        row = '<div id="outfit" class="mainbox">'
                            + '<div>게시물이 없습니다</div>'
                            + '</div>';
                    } else {
                        result.list.content.forEach((element, index, array) => {
                            row += '<div id="outfit" class="mainbox">'
                                + '<div>' + element.content + '</div>'
                                + '<small>' + element.writeDate + '</small>'
                                + '<div id="eachBtn">'
                                + '<button id="recommend" class="glyphicon glyphicon-thumbs-up" data-seq="' + element.postSeq + '">' + element.recommendCnt + '</button>'
                                + '<button id="declare" class="glyphicon glyphicon-ban-circle" data-seq="' + element.postSeq + '"></button>'
                                + '</div>'
                                + '</div>';
                        });

                        var page = '';
                        for (var i = 0; i < result.list.totalPages; i++) {
                            page += '<li class="page-item">'
                                + '<a href="#" class="page-link">' + (i + 1) + '</a>'
                                + '</li>';
                        }
                    }

                    $("#postArea").html(row);
                    $("ul.pagination").html(page);
                })
                .fail(function() {
                    $("tbody").html('<div id="outfit" class="mainbox"><div>게시물이 없습니다</div></div>');
                })
        };

        // 게시물 좋아요 수 올리는 ajax
        memberListView.recommend = function() {
            var that = this;
            $(document).on('click', '#outfit > #eachBtn > #recommend', function(e) {
                $.ajax({
                    url         : "/board/recommendAjax",
                    type 		: "POST",
                    data        : {id: e.target.dataset.seq},
                    dataType 	: "JSON",
                })
                .done(function (result) {
                    console.log(result);
                    if (result.responseCode == "SUCCESS") {
                        that.listInit();
                    } else if (result.responseCode == "DB_NOT_FOUND_DATA") {
                        alert("좋아요할 게시물이 없습니다.");
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                })
                .fail(function() {
                    alert("알 수 없는 오류가 발생했습니다.");
                });
            });
        };

        // 게시물 신고하는 ajax
        memberListView.declare = function() {
            var that = this;
            $(document).on('click', '#outfit > #eachBtn > #declare', function(e) {
                $.ajax({
                    url         : "/board/declareAjax",
                    type 		: "POST",
                    data        : {id: e.target.dataset.seq},
                    dataType 	: "JSON",
                })
                .done(function (result) {
                    if (result.responseCode == "SUCCESS") {
                        that.listInit();
                    } else if (result.responseCode == "DB_NOT_FOUND_DATA") {
                        alert("신고할 게시물이 없습니다.");
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                })
                .fail(function() {
                    alert("알 수 없는 오류가 발생했습니다.");
                })
            });
        };

        memberListView.addPost = function() {
            var that = this;
            $("#saveBtn").on('click', function () {
                var requestParam = {
                    content: $("#content").val(),
                    location: $("#nowLocation").val(),
                };
                $.ajax({
                    url         : "/board/addAjax",
                    type 		: "POST",
                    data        : requestParam,
                    dataType 	: "JSON",
                })
                .done(function (result) {
                    if (result.responseCode == "SUCCESS") {
                        $("#writeModal > btn.btn-secondary").click();
                        that.listInit();
                    } else if (result.responseCode == "DB_NOT_FOUND_DATA") {
                        alert("신고할 게시물이 없습니다.");
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                })
                .fail(function() {
                    alert("알 수 없는 오류가 발생했습니다.");
                })
            });
        };

    </script>

</body>
</html>