<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="inc/asset.html::asset" />

<body>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo" href="#">오늘 뭐 입지?</a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#"><span uk-icon="location"><span id="currentLocation">위치 찾는 중</span></span></a></li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li><a href="#modal-example" uk-toggle>글쓰기</a></li>
                    <li><a href="/">메인으로</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <input type="hidden" id="page" name="page" th:value="${page}">
    <input type="hidden" id="size" name="size" th:value="${size}">

    <section>
        <article class="uk-width-2xlarge uk-margin-auto uk-margin-medium-bottom">
            <p class="uk-margin-auto" id="searchLocation" th:text="|${location}의 옷차림|"></p>
            <form class="uk-search uk-search-default" name="searchForm" id="searchForm" action="/board/list">
                <a onclick="document.getElementById('searchForm').submit();" class="uk-search-icon-flip" uk-search-icon></a>
                <input class="uk-search-input" type="search" id="location" name="location" placeholder="원하는 지역명으로 검색">
            </form>
        </article>
    </section>
    <section id="postArea">
        <article class="uk-comment uk-comment-primary uk-margin-large-top uk-margin-medium-bottom uk-width-2xlarge uk-margin-auto">
            <header class="uk-comment-header">
                <div class="uk-comment-body">
                    <p>게시물을 불러오고 있습니다.</p>
                </div>
            </header>
        </article>
    </section>
    <ul class="uk-pagination uk-flex-center" id="pagination" uk-margin>
    </ul>

    <!-- This is the modal -->
    <div id="modal-example" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <form name="writeForm" id="writeForm">
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">오늘 당신의 옷차림을 알려주세요.</legend>

                    <div class="uk-margin">
                        <textarea id="content" name="content" class="uk-textarea" placeholder="30자까지 입력 가능합니다." maxlength="30"></textarea>
                        <input type="hidden" name="nowLocation" id="nowLocation" value=""/>
                    </div>

                </fieldset>
            </form>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">닫기</button>
                <button class="uk-button uk-button-primary" type="button" id="saveBtn" name="saveBtn">저장</button>
            </p>
        </div>
    </div>

    <script th:inline="javascript">

        $(() => memberListView.init());

        var memberListView = {};

        let apiKey = [[${apiKey}]];

        memberListView.init = function() {
            this.findLocation();
            this.listInit();
            this.recommend();
            this.declare();
            this.addPost();
            this.closeModal();
            this.changePage();
        };

        memberListView.findLocation = function() {
            if (navigator.geolocation) { // GPS를 지원하면
                navigator.geolocation.getCurrentPosition(function (position) {
                    // 좌표
                    const point_x = position.coords.longitude;
                    const point_y = position.coords.latitude;

                    // 좌표정보 -> 위치정보 ajax
                    $.ajax({
                        url: "https://dapi.kakao.com/v2/local/geo/coord2address.json?x=" + point_x + "&y=" + point_y + "&input_coord=WGS84",
                        type: 'GET',
                        headers: {'Authorization': apiKey},
                        success: function (data) {
                            $("#currentLocation").html(data.documents[0].address["region_2depth_name"]);
                            $("#nowLocation").val(data.documents[0].address["region_1depth_name"] + data.documents[0].address["region_2depth_name"]);
                        }
                    });

                }, function (error) {
                    UIkit.modal.dialog('<p class="uk-modal-body">위치 정보를 확인할 수 없어 서비스를 제대로 이용할 수 없습니다. 내 위치 확인을 허용해주세요.</p>');
                }, {
                    enableHighAccuracy: false,
                    maximumAge: 0,
                    timeout: Infinity
                });
            } else {
                UIkit.modal.dialog('<p class="uk-modal-body">GPS를 지원하지 않아 서비스를 제대로 이용할 수 없습니다. GPS 가능한 브라우저로 접속해주세요.</p>');
            }
        };

        memberListView.listInit = function() {
            var requestParam = {
                page: $("#page").val(),
                size: $("#size").val(),
                location: $("#searchLocation").text().replace("의 옷차림", ""),
            };

            $.ajax({
                url 		: "/board/listAjax",
                type 		: "POST",
                data 		: requestParam,
                dataType 	: "JSON",
            })
            .done(function(result) {

                var row = '';

                if (result.list.content.length == 0) {
                    row = `<article class="uk-comment uk-comment-primary uk-margin-large-top uk-margin-medium-bottom uk-width-2xlarge uk-margin-auto">
                                <header class="uk-comment-header">
                                    <div class="uk-comment-body">
                                        <p>게시물이 없습니다.</p>
                                    </div>
                                </header>
                            </article>`;
                } else {
                    result.list.content.forEach((element, index, array) => {
                        row += `<article class="uk-comment uk-comment-primary uk-margin-medium-bottom uk-width-2xlarge uk-margin-auto">
            <header class="uk-comment-header">
                <div class="uk-comment-body">
                    <p>` + element.content + `</p>
                </div>
            </header>
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li>` + element.writeDateStr + `</li>
                        <li><span class="uk-margin-small-right">` + element.recommendCnt + `</span><a href="#" id="recommend" data-seq="` + element.postSeq + `"><span uk-icon="heart"></span></a></li>
                        <li><a href="#" id="declare" data-seq="`+ element.postSeq +`"><span uk-icon="ban"></span></a></li>
                    </ul>
                </div>
            </div>
        </article>`;
                    });

                    var page = '';
                    for (var i = 0; i < result.list.totalPages; i++) {
                        if (requestParam.page == (i + 1)) {
                            page += '<li class="uk-active">'
                                + '<a href="#">' + (i + 1) + '</a>'
                                + '</li>';
                        } else {
                            page += '<li>'
                                + '<a href="#">' + (i + 1) + '</a>'
                                + '</li>';
                        }
                    }
                }

                $("#postArea").html(row);
                $("ul#pagination").html(page);
            })
            .fail(function() {
                $("tbody").html(`<article class="uk-comment uk-comment-primary uk-margin-large-top uk-margin-medium-bottom uk-width-2xlarge uk-margin-auto">
                                <header class="uk-comment-header">
                                    <div class="uk-comment-body">
                                        <p>게시물이 없습니다.</p>
                                    </div>
                                </header>
                            </article>`);
            })
        };

        // 게시물 좋아요 수 올리는 ajax
        memberListView.recommend = function() {
            var that = this;
            $(document).on('click', '#recommend', function(e) {
                $.ajax({
                    url         : "/board/recommendAjax",
                    type 		: "POST",
                    data        : {id: e.currentTarget.dataset.seq},
                    dataType 	: "JSON",
                })
                .done(function (result) {
                    if (result.responseCode == "SUCCESS") {
                        that.listInit();
                    } else if (result.responseCode == "DB_NOT_FOUND_DATA") {
                        alert("좋아요할 게시물이 없습니다.");
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                })
                .fail(function() {
                    alert("알 수 없는 오류가 발생했습니다.");
                });
            });
        };

        // 게시물 신고하는 ajax
        memberListView.declare = function() {
            var that = this;
            $(document).on('click', '#declare', function(e) {
                $.ajax({
                    url         : "/board/declareAjax",
                    type 		: "POST",
                    data        : {id: e.currentTarget.dataset.seq},
                    dataType 	: "JSON",
                })
                .done(function (result) {
                    if (result.responseCode == "SUCCESS") {
                        that.listInit();
                    } else if (result.responseCode == "DB_NOT_FOUND_DATA") {
                        alert("신고할 게시물이 없습니다.");
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                })
                .fail(function() {
                    alert("알 수 없는 오류가 발생했습니다.");
                })
            });
        };

        memberListView.addPost = function() {
            var that = this;
            $(document).on('click', '#saveBtn', function(e) {
                var requestParam = {
                    content: $("#content").val(),
                    location: $("#nowLocation").val()
                };
                $.ajax({
                    url         : "/board/addAjax",
                    type 		: "POST",
                    data        : requestParam,
                    dataType 	: "JSON",
                })
                .done(function (result) {
                    if (result.responseCode == "SUCCESS") {
                        $("#page").val(1);
                        $("#searchLocation")[0].innerHTML = requestParam.location + "의 옷차림";
                        that.listInit();
                        $("#writeForm")[0].reset();
                        that.closeModal();
                    } else if (result.responseCode == "DB_NOT_FOUND_DATA") {
                        alert("신고할 게시물이 없습니다.");
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                })
                .fail(function() {
                    alert("알 수 없는 오류가 발생했습니다.");
                });
            });

        };

        memberListView.closeModal = function() {
            $(".uk-modal-close").click();
        }

        memberListView.changePage = function() {
            var that = this;
            $(document).on('click', '#pagination > li > a', function(e) {
                $("#page").val(e.currentTarget.innerHTML);
                that.listInit();
            });
        };

    </script>

</body>
</html>