#loginform {
    width:50%;
    background-color:white;
    padding:5%;
    margin: 0 auto;
    vertical-align: 50%;
    border-radius: 50px;
}

#loginform #name, #pw {
    width:380px;
}

#loginform #loginbtn {
    margin: 30px auto;
    width:30%;
}