/* Board CSS */

#pagination {
    text-align:center;
}

.pagination>li>a, .pagination>li>span {
    color:#9C89B8;
}

.pagination>li>a:hover, .pagination>li>span {
    background-color:#9C89B8;
    color:white;
}

#eachBtn {
    text-align:right;
}

#recommend, #declare {
    background-color: #EFC3E6;
    padding:5px;
    border-radius: 50px;
    border:1px solid #F0E6EF;
}