/* 전체 적용 CSS */

/* 2. 일반(나눔스퀘어라운드) */

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 3. 글꼴 + 태그 선택자 */
body, p, div, span, ul, ol, li, dl, dt, dd, table, th, td, a, blockquote, textarea, fieldset, small, strong, b, i, em {
    font-family: 'NanumSquareRound' !important;
    line-height:2em;
    font-size:17px;
}

html, body {
    height: 100%;
}

textarea {
    resize: none;
}